@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #060f16;
  color: white;
}

a {
  color: white;
}

.container {
  margin: 0 auto;
  padding-inline: 15px;
}
@media (width < 576px) {
  .container {
    max-width: 90%;
  }
}
@media (width > 576px) {
  .container {
    max-width: 540px;
  }
}
@media (width > 768px) {
  .container {
    max-width: 720px;
  }
}
@media (width > 992px) {
  .container {
    max-width: 960px;
  }
}
@media (width > 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (width > 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px 30px;
  border-radius: 100px;
  column-gap: 10px;
  display: inline-block;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.3));
  transition: 0.3s;
}
.btn .ri-arrow-right-line {
  position: relative;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.btn:hover .ri-arrow-right-line {
  left: 5px;
}
.btn:hover {
  border: 1px solid #1e99f7;
  background: linear-gradient(45deg, rgba(30, 153, 247, 0.3), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(30, 153, 247, 0.3));
}

.card-static {
  background: linear-gradient(130deg, #284c6c, #060f16, #244a4d);
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  padding: 2px;
}
.card-static p {
  font-size: 50px;
}
.card-static .card-static-body {
  position: relative;
  background-color: #0b181e;
  border-radius: inherit;
  overflow: hidden;
}
.card-static .card-static-body::before {
  position: absolute;
  content: "";
  width: 160px;
  height: 160px;
  bottom: -20%;
  left: 50%;
  transform: translateX(-80px);
  background-color: #125a8c;
  border-radius: 100%;
  filter: blur(30px);
}
.card-static .card-static-box {
  background-color: rgba(11, 24, 30, 0.2);
  backdrop-filter: blur(30px);
  padding: 50px;
  border-radius: inherit;
}

.card-neon {
  border: 1px solid #ffffff;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-block: 15px;
}
.header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu {
  display: flex;
  gap: 60px;
}
.header .logo {
  font-size: 30px;
}
.header .logo span {
  color: #1e99f7;
}
.header .link {
  transition: 0.3s;
}
.header .link.active {
  background-color: rgba(14, 35, 51, 0.7);
  color: #1e99f7;
  padding: 12px;
  border-radius: 5px;
}
.header .link:hover {
  color: #1e99f7;
}
.header .header-social {
  display: flex;
  gap: 30px;
}
.header .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(14, 35, 51, 0.7);
  border-radius: 100px;
  transition: 0.3s;
}
.header .social-link:hover {
  background-color: #1e99f7;
}

.home {
  background: linear-gradient(90deg, #060f16, rgba(6, 15, 22, 0.2), #060f16), url("../../images/Hero.jpg");
  background-position: center;
  background-size: cover;
  min-height: 650px;
}
.home .home-wrapper {
  padding-top: 15%;
  max-width: 600px;
}
.home .home-wrapper p {
  color: #818181;
  margin-block: 20px;
}
.home .home-desc {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.home .home-title {
  font-size: clamp(20px, 2.6vw, 50px);
  font-weight: 600;
}
.home .home-title span {
  color: #1e99f7;
}
.home #element {
  background: linear-gradient(130deg, #17A4FC, #16E7FE);
  background-clip: text;
  color: transparent;
}

.about {
  padding-block: 100px;
}
.about .about-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}

/*# sourceMappingURL=main.css.map */
