@use '../base/mixins' as *;
@use '../base/vars' as *;

.about {

    @include paddingTopBottom(100px);

    .about-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }

    & .about-title {
        font-size: 30px;
    }

    & .about-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border: 1px solid $color-primary;
        border-radius: 100px;
    }

    & .icon-img {
        width: 50px;
    }

    .icon-right-icon {
        width: 50px;
        height: 50px;
        padding: 10px;
        background: linear-gradient(45deg, #1ab4fe, #1be8fb);
        border-radius: 100px;
    }

    .about-right-wrapper {
        display: flex;
        column-gap: 20px;
        margin-top: 20px;
    }

    .card-right-box-wrapper {
        display: flex;
        align-items: center;
        column-gap: 20px;
        margin-bottom: 20px;
    }

    .card-item1 {
        @include cardStyle(50px, flex, center, 20px);
    }

    .card-item2{
        @include cardStyle(30px, block, center, 20px);
    }
}