@use '../base/mixins' as *;
@use '../base/vars' as *;

.about {

    @include paddingTopBottom(100px);

    .about-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    & .about-title {
        font-size: 30px;
    }

    & .about-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border: 1px solid $color-primary;
        border-radius: 100px;
    }

    & .icon-img {
        width: 50px;
    }
}