@use '../base/vars' as *;
@use '../base/mixins' as *;

.education {

    @include paddingTopBottom(100px);

    .education-box {
        text-align: center;
    }

    .education-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 40px;

        @include adaptive(992px) {
           grid-template-columns: repeat(2, 1fr); 
        }
    }

    .education-card-title {
        font-size: 20px;
        color: $color-content;
    }

    .education-card-text {
        color: $color-content;
        font-size: 14px;
    }

    .education-card-year {
        margin-block: 10px 20px;
    }

    .card-item1 {
        @include cardStyle(20px, block, start, 0)
    }
}