@use '../base/vars' as *;

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-block: 15px;
    z-index: 99;
    background-color: $color-bg;

    &.show-menu {
        position: fixed;
        backdrop-filter: blur(20px);
        animation: .5s showMenu linear;
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        display: flex;
        gap: 60px;
    }

    .logo {

        font-size: 30px;

        span {
            color: $color-primary;
        }
    }

    .link {

        transition: .3s;

        &.active {
            background-color: rgba(14, 35, 51, 0.7);
            color: $color-primary;
            padding: 12px;
            border-radius: 5px;
        }

        &:hover {
            color: $color-primary;
        }
    }

    .header-social {
        display: flex;
        gap: 30px;
    }

    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background-color: rgba(14, 35, 51, 0.7);
        border-radius: 100px;
        transition: .3s;

        &:hover {
            background-color: $color-primary;
        }
    }
}

@keyframes showMenu {
    0% {
        opacity: 0;
        top: -20px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}