@use '../base/vars' as *;
@use '../base/mixins' as *;

.home {
    background:
        linear-gradient(90deg, #060f16, rgba(6, 15, 22, 0.2), #060f16),
        url('../../images/Hero.jpg');
    background-position: center;
    background-size: cover;
    min-height: 650px;

    .home-wrapper {
        padding-top: 15%;
        max-width: 600px;

        @media(width < 576px) {
            padding-top: 50%;
        }

        @include adaptive(576px) {
            padding-top: 50%;
        }

        @include adaptive(768px) {
            padding-top: 30%;
        }

        @include adaptive(992px) {
            padding-top: 20%;
        }

        @include adaptive(1200px) {
            padding-top: 15%;
        }

        p {
            color: $color-content;
            margin-block: 20px;
        }
    }

    .home-desc {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .home-title {
        font-size: clamp(30px, 2.6vw, 50px);
        font-weight: 600;

        span {
            color: $color-primary;
        }
    }

    #element {
        background: $color-text-gradient;
        background-clip: text;
        color: transparent;
    }
}