.home {
    background: url('../../images/Hero.jpg');
    background-position: center;
    background-size: cover;
    min-height: 800px;

    .home-wrapper {
        border: 1px solid #eb1313;
    }
}