@use '../base/vars' as *;
@use '../base/mixins' as *;

.portfolio {

    @include paddingTopBottom(100px);

    .portfolio-box {
        text-align: center;
        margin-bottom: 20px;
    }

    .portfolio-tabs {
        display: flex;
        column-gap: 8px;
        justify-content: center;
    }

    .portfolio-tab {
        padding: 15px;
        background-color: #0b1c29;
        border-radius: 15px;
        cursor: pointer;
        transition: .5s;

        &.active {
            background-color: #01090f;
            color: $color-primary;
        }

        &:hover {
            color: $color-primary;
        }
    }

    .portfolio-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-top: 30px;
    }

    .card-item1 {
        @include cardStyle(20px, block, srart, 0);

    }

    .portfolio-card-title {
        font-size: 30px;
        margin-top: 20px;
    }

    .portfolio-card-cat {
        display: flex;
        column-gap: 10px;
        margin-block: 20px;

        li {
            padding: 10px 30px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 50px;
        }
    }
}