@use '../base/vars' as *;
@use '../base/mixins' as *;

.price {

    @include paddingTopBottom(50px);

    .price-box {
        text-align: center;
    }

    .price-tabs {
        display: flex;
        column-gap: 8px;
        justify-content: center;
        margin-top: 40px;
    }

    .price-tab {
        padding: 15px;
        background-color: #0b1c29;
        border-radius: 15px;
        cursor: pointer;
        transition: .5s;

        &.active {
            background-color: #01090f;
            color: $color-primary;
        }

        &:hover {
            color: $color-primary;
        }
    }

    .price-monthly {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 50px;
        gap: 30px;
        align-items: center;

        @include adaptive(992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        &.hidden {
            display: none;
        }

        & .card-neon:nth-child(2) {
            scale: 1.1
        }
    }

    .card-item1 {
        @include cardStyle(20px, block, start, 0);

    }

    .price-title, .price-month, .price-list-items {
        color: $color-content;
    }

    .price-count {
        font-size: 40px;
        font-weight: 700;
    }

    .price-month {
        border-bottom: 1px solid #3a3a3a;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .price-list-items {
        margin-bottom: 20px;

        li {
            margin-bottom: 10px;
        }
    }

    .price-title, .price-month {
        font-size: 18px;
    }
}