@use '../base/vars' as *;
@use '../base/mixins' as *;

.service {

    .service-box {
        text-align: center;
        margin-bottom: 40px;
    }

    .service-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 40px;

        @include adaptive(992px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .service-left *{
        margin-bottom: 5px;
    }

    .card-item1 {
        @include cardStyle(20px, block, start, 0);

        span {
            font-size: 20px;
        }
    }
}