@use '../base/vars' as *;
@use '../base/mixins' as *;

.service {

    .service-box {
        text-align: center;
        margin-bottom: 40px;
    }

    .service-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 40px;
    }

    .card-item3 {
        @include cardStyle(20px, block, start, 0, );

        span {
            font-size: 20px;
        }
    }
}