@use '../base/vars' as *;

.btn {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px 30px;
    border-radius: 100px;
    column-gap: 10px;
    display: inline-block;
    background: 
    linear-gradient(45deg, rgba(255,255,255, 0.3), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255,255,255,0.3));
    transition: .3s;

    .ri-arrow-right-line {
        position: relative;
        top: 0;
        left: 0;
        transition: .3s;
    }

    &:hover .ri-arrow-right-line {
        left: 5px;
    }

    &:hover {
        border: 1px solid $color-primary;
        background: 
        linear-gradient(45deg, rgba(30, 153, 247, 0.3), rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(30, 153, 247, 0.3));;
    }
}