@use '../base/vars' as *;

@property --color-start {
    syntax: "<color>";
    inherits: false;
    initial-value: #060f16;
}

@property --color-center {
    syntax: "<color>";
    inherits: false;
    initial-value: #060f16;
}

@property --color-end {
    syntax: "<color>";
    inherits: false;
    initial-value: #060f16;
}

.card-static {
    background: $color-card-border-gradient;
    border-radius: $br-width;
    margin-bottom: 20px;
    text-align: center;
    padding: 2px;

    p {
        font-size: clamp(30px, 2.6vw, 50px);
    }

    .card-static-body {
        position: relative;
        background-color: #0b181e;
        border-radius: inherit;
        overflow: hidden;

        &::before {
            position: absolute;
            content: '';
            width: 160px;
            height: 160px;
            bottom: -20%;
            left: 50%;
            transform: translateX(-80px);
            background-color: #125a8c;
            border-radius: 100%;
            filter: blur(30px);
        }
    }

    .card-static-box {
        background-color: rgba(11, 24, 30, 0.2);
        backdrop-filter: blur(30px);
        padding: 50px;
        border-radius: inherit;

        p {

        }
    }
}

.card-neon {
    background: linear-gradient(130deg, var(--color-start), var(--color-center), var(--color-end));
    transition: --color-start .8s, --color-center .8s, --color-end .8s;
    border-radius: $br-width;
    padding: 2px;
    cursor: pointer;

    .card-neon-body {
        position: relative;
        background-color: #0b181e;
        border-radius: inherit;
        overflow: hidden;

        &::before {
            position: absolute;
            content: '';
            width: 160px;
            height: 160px;
            bottom: -80px;
            left: 50%;
            transform: translateX(-80px);
            background-color: #125a8c;
            border-radius: 100%;
            filter: blur(30px);
            opacity: 0;
            transition: .3s;
        }
    }

    .card-neon-box {
        background-color: rgba(11, 24, 30, 0.2);
        backdrop-filter: blur(30px);
    }
}

.card-neon:hover {
    --color-start: #284c6c;
    --color-center: #060f16;
    --color-end: #244a4d;

}

.card-neon:hover .card-neon-body::before {
    opacity: 1;
}