@use './vars' as *;
@use './mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $color-bg;
    color: $color-text-main;
}

a {
    color: $color-text-main;
}

.section-desc {
    text-transform: uppercase;
    color: $color-primary;
}

.section-title {
    font-size: 30px;
    font-weight: 700;
}

.section-text {
    margin-top: 20px;
    color: $color-content;
}

.line-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100vh;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;

    .line {
        position: relative;
        background: #10283a;
        width: 1px;
        height: 100vh;

        &::after {
            position: absolute;
            content: '';
            width: 2px;
            height: 30px;
            background: white;
            top: 0;
            left: calc(50% - 1px);
            border-radius: 20px;
            animation: animateTopBottom 5s infinite;
        }
    }
}

.line:nth-child(1)::after {
    animation-delay: .4s;
}

.line:nth-child(2)::after {
    animation-delay: .2s;
}

.line:nth-child(3)::after {
    animation-delay: .8s;
}

.card-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block: 10px;

    .card-info-icon {
        width: 50px;
        height: 50px;
        border: 1px solid $color-content;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-info-content  {

        span {
           color: $color-content; 
        }
    }
}

.container {
    margin: 0 auto;
    padding-inline: 15px;

    @media (width < 576px) {
        max-width: 90%;
    }

    @include adaptive(576px) {
        max-width: 540px;
    }

    @include adaptive(768px) {
        max-width: 720px;
    }

    @include adaptive(992px) {
        max-width: 960px;
    }

    @include adaptive(1200px) {
        max-width: 1140px;
    }

    @include adaptive(1400px) {
        max-width: 1320px;
    }
}

@keyframes animateTopBottom {
    0% {
        top: 0;
        opacity: 0;
    }

    20% {
        opacity: 0.4;
    }

    100% {
        top: 100%;
        opacity: 1;
    }
}