@mixin adaptive($breakpoint) {
    @media (width > $breakpoint) {
        @content
    }
}

@mixin paddingTopBottom($padding) {
    padding-block: $padding;
}

@mixin cardStyle($padding, $display: block, $ai, $gap) {
    padding: $padding;
    display: $display;
    align-items: $ai;
    column-gap: $gap;
}